<div class="survey-container">
  <div class="survey-breadcrumb">
    <%= link_to "← Back to Surveys", surveys_path %>
  </div>

  <div class="survey-header">
    <h1>Answering: <%= @survey.title %></h1>
    <p><%= @survey.description %></p>
  </div>

  <div class="survey-progress">
    <strong>Progress:</strong> 
    <%= @response.answers.count %> of <%= @questions.count %> questions answered
    (<%= @response.completion_percentage %>% complete)
  </div>

  <% if notice %>
    <div class="survey-alert survey-alert-success">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="survey-alert survey-alert-danger">
      <strong>⚠️ Validation Error:</strong> <%= alert %>
    </div>
  <% end %>

  <!-- Single form for all questions -->
  <%= form_tag submit_answer_survey_path(@survey), method: :post, class: "survey-form" do %>

  <% @questions.each_with_index do |question, index| %>
    <div class="survey-question">
      <h3>
        <%= index + 1 %>. <%= question.title %>
        <% if question.required? %>
          <span class="survey-question-required">*required</span>
        <% end %>
      </h3>
      
      <% if question.description.present? %>
        <p class="survey-question-description"><%= question.description %></p>
      <% end %>
      
      <% existing_answer = @answers[question.id] %>
        
      <% case question.question_type.name %>
      <% when 'text' %>
        <%= text_area_tag "answers[#{question.id}][text_answer]", existing_answer&.text_answer, 
            placeholder: question.placeholder_text || "Enter your answer here...",
            class: "survey-textarea #{'required-field' if question.required?}",
            maxlength: question.max_characters,
            required: question.required?,
            data: { question_id: question.id, question_title: question.title } %>
              
      <% when 'scale' %>
        <div class="survey-scale-container">
          <div class="survey-scale-labels">
            <span><%= question.scale_min_label %></span>
            <span><%= question.scale_max_label %></span>
          </div>
          
          <div class="survey-scale-options <%= 'required-field' if question.required? %>" data-question-id="<%= question.id %>" data-question-title="<%= question.title %>">
            <% (question.scale_min..question.scale_max).each do |value| %>
              <label class="survey-scale-option">
                <%= radio_button_tag "answers[#{question.id}][numeric_answer]", value, 
                    existing_answer&.numeric_answer == value,
                    required: question.required?,
                    class: "survey-field" %>
                <span><%= value %></span>
              </label>
            <% end %>
          </div>
        </div>
          
      <% when 'number' %>
        <%= number_field_tag "answers[#{question.id}][numeric_answer]", existing_answer&.numeric_answer,
            class: "survey-number-input #{'required-field' if question.required?}",
            required: question.required?,
            data: { question_id: question.id, question_title: question.title } %>
            
      <% when 'boolean' %>
        <div class="survey-question-options <%= 'required-field' if question.required? %>" data-question-id="<%= question.id %>" data-question-title="<%= question.title %>">
          <label class="survey-question-option">
            <%= radio_button_tag "answers[#{question.id}][boolean_answer]", '1', existing_answer&.boolean_answer == true,
                required: question.required?, class: "survey-field" %>
            Yes
          </label>
          <label class="survey-question-option">
            <%= radio_button_tag "answers[#{question.id}][boolean_answer]", '0', existing_answer&.boolean_answer == false,
                required: question.required?, class: "survey-field" %>
            No
          </label>
        </div>
          
      <% when 'single_choice' %>
        <div class="survey-question-options <%= 'required-field' if question.required? %>" data-question-id="<%= question.id %>" data-question-title="<%= question.title %>">
          <% question.options.ordered.each do |option| %>
            <label class="survey-question-option">
              <%= radio_button_tag "answers[#{question.id}][option_id]", option.id, 
                  existing_answer&.options&.include?(option),
                  onchange: option.is_other? ? "document.getElementById('other_text_#{question.id}').style.display = this.checked ? 'block' : 'none'" : nil,
                  required: question.required?,
                  class: "survey-field" %>
              <%= option.option_text %>
            </label>
            
            <% if option.is_other? %>
              <div id="other_text_<%= question.id %>" class="survey-other-input" style="<%= existing_answer&.options&.include?(option) ? 'display: block;' : 'display: none;' %>">
                <%= text_field_tag "answers[#{question.id}][other_text]", existing_answer&.other_text,
                    placeholder: "Please specify..." %>
              </div>
            <% end %>
          <% end %>
        </div>
          
      <% when 'multiple_choice' %>
        <div class="survey-question-options <%= 'required-field' if question.required? %>" data-question-id="<%= question.id %>" data-question-title="<%= question.title %>">
          <% question.options.ordered.each do |option| %>
            <label class="survey-question-option">
              <%= check_box_tag "answers[#{question.id}][option_ids][]", option.id, 
                  existing_answer&.options&.include?(option),
                  onchange: option.is_other? ? "document.getElementById('other_text_#{question.id}').style.display = this.checked ? 'block' : 'none'" : nil,
                  class: "survey-field #{'required-checkbox' if question.required?}",
                  data: { question_id: question.id } %>
              <%= option.option_text %>
            </label>
          <% end %>
          
          <% if question.options.any?(&:is_other?) %>
            <div id="other_text_<%= question.id %>" class="survey-other-input" style="<%= existing_answer&.other_text.present? ? 'display: block;' : 'display: none;' %>">
              <%= text_field_tag "answers[#{question.id}][other_text]", existing_answer&.other_text,
                  placeholder: "Please specify other option..." %>
            </div>
          <% end %>
        </div>
          
      <% end %>
      
      <% if existing_answer %>
        <div class="survey-current-answer">
          <strong>Current answer:</strong> <%= existing_answer.display_value %>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Complete survey button -->
  <div class="survey-completion-panel">
    <h3>Ready to submit your survey?</h3>
    <p>This will save all your answers and complete the survey. You won't be able to change your answers after this.</p>
    
    <%= submit_tag "Complete Survey", 
        class: "survey-btn survey-btn-submit",
        name: "complete_survey",
        formnovalidate: false %>
  </div>

  <% end %> <!-- Close the main form -->
</div>