<div class="survey-container">
  <nav class="survey-breadcrumb">
    <%= link_to t('survey_engine.surveys.answer.back_to_surveys'), surveys_path %>
  </nav>

  <header class="survey-header">
    <h1><%= t('survey_engine.surveys.answer.answering') %> <%= @survey.title %></h1>
    <% if @survey.survey_template %>
      <p class="survey-template-info"><%= t('survey_engine.surveys.answer.template') %>: <%= @survey.survey_template.name %></p>
    <% end %>
  </header>


  <% if notice %>
    <div class="survey-alert survey-alert-success">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="survey-alert survey-alert-danger">
      <strong><%= t('survey_engine.surveys.answer.error') %></strong> <%= alert %>
    </div>
  <% end %>

  <%= form_tag submit_answer_survey_path(@survey), method: :post, class: "survey-form", local: true do %>
    <div class="survey-questions-container">
      <% @questions.each_with_index do |question, index| %>
        <div class="survey-question" <%= conditional_flow_attributes(question).map { |k, v| "#{k}=\"#{v}\"" }.join(' ').html_safe %> id="question-<%= question.id %>">
          <h3>
            <span class="survey-question-number" data-original-order="<%= index + 1 %>"><%= index + 1 %></span>. <%= question.title %>
            <% if question.required? %>
              <span class="survey-question-required"><%= t('survey_engine.surveys.answer.required') %></span>
            <% end %>
          </h3>
          
          <% if question.description.present? %>
            <p class="survey-question-description"><%= question.description %></p>
          <% end %>
          
          <% existing_answer = @answers[question.id] %>
          
          <% if question.is_matrix? %>
            <%= render 'survey_engine/questions/matrix_question', 
                question: question, 
                question_number: index + 1,
                answers: @answers %>
          <% elsif question.is_matrix_row? %>
            <!-- Matrix rows are rendered by their parent matrix question -->
          <% else %>
            <div class="survey-question-input">
              <% case question.question_type.name %>
              <% when 'text' %>
              <%= text_field_tag "answers[#{question.id}][text_answer]", existing_answer&.text_answer, 
                  placeholder: question.placeholder_text || t('survey_engine.surveys.answer.text_placeholder'),
                  class: "survey-input",
                  maxlength: question.max_characters,
                  required: question.required? %>
            <% when 'textarea' %>
              <%= text_area_tag "answers[#{question.id}][text_answer]", existing_answer&.text_answer, 
                  placeholder: question.placeholder_text || t('survey_engine.surveys.answer.textarea_placeholder'),
                  class: "survey-textarea",
                  maxlength: question.max_characters,
                  rows: 4,
                  required: question.required? %>
            <% when 'number' %>
              <%= number_field_tag "answers[#{question.id}][numeric_answer]", existing_answer&.numeric_answer,
                  class: "survey-input survey-number-input",
                  required: question.required? %>
            <% when 'boolean' %>
              <div class="survey-question-options">
                <label class="survey-question-option">
                  <%= radio_button_tag "answers[#{question.id}][boolean_answer]", '1', 
                      existing_answer&.boolean_answer == true,
                      required: question.required? %>
                  <span><%= t('survey_engine.surveys.answer.yes') %></span>
                </label>
                
                <label class="survey-question-option">
                  <%= radio_button_tag "answers[#{question.id}][boolean_answer]", '0', 
                      existing_answer&.boolean_answer == false,
                      required: question.required? %>
                  <span><%= t('survey_engine.surveys.answer.no') %></span>
                </label>
              </div>
            <% when 'single_choice' %>
              <div class="survey-question-options">
                <% question.options.ordered.each do |option| %>
                  <label class="survey-question-option">
                    <%= radio_button_tag "answers[#{question.id}][option_id]", option.id, 
                        existing_answer&.options&.include?(option),
                        id: "question_#{question.id}_option_#{option.id}",
                        required: question.required? %>
                    <span><%= option.option_text %></span>
                  </label>
                  
                  <% if option.is_other? %>
                    <div class="survey-other-input" style="<%= existing_answer&.options&.include?(option) ? 'display: block;' : 'display: none;' %>">
                      <%= text_field_tag "answers[#{question.id}][other_text]", existing_answer&.other_text,
                          placeholder: t('survey_engine.surveys.answer.other_placeholder'),
                          class: "survey-input" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% when 'multiple_choice' %>
              <div class="survey-question-options">
                <% question.options.ordered.each do |option| %>
                  <label class="survey-question-option">
                    <%= check_box_tag "answers[#{question.id}][option_ids][]", option.id, 
                        existing_answer&.options&.include?(option),
                        id: "question_#{question.id}_option_#{option.id}" %>
                    <span><%= option.option_text %></span>
                  </label>
                <% end %>
                
                <% if question.options.any?(&:is_other?) %>
                  <div class="survey-other-input" style="<%= existing_answer&.other_text.present? ? 'display: block;' : 'display: none;' %>">
                    <%= text_field_tag "answers[#{question.id}][other_text]", existing_answer&.other_text,
                        placeholder: t('survey_engine.surveys.answer.other_multiple_placeholder'),
                        class: "survey-input" %>
                  </div>
                <% end %>
              </div>
            <% when 'scale' %>
              <div class="survey-scale-container">
                <div class="survey-scale-labels">
                  <span><%= question.scale_min_label %></span>
                  <span><%= question.scale_max_label %></span>
                </div>
                
                <div class="survey-scale-options">
                  <% (question.scale_min..question.scale_max).each do |value| %>
                    <label class="survey-scale-option">
                      <%= radio_button_tag "answers[#{question.id}][numeric_answer]", value, 
                          existing_answer&.numeric_answer == value,
                          required: question.required?,
                          **conditional_trigger_attributes(question, "answers[#{question.id}][numeric_answer]") %>
                      <span><%= value %></span>
                    </label>
                  <% end %>
                </div>
              </div>
            <% when 'email' %>
              <%= email_field_tag "answers[#{question.id}][text_answer]", existing_answer&.text_answer,
                  placeholder: question.placeholder_text || t('survey_engine.surveys.answer.email_placeholder'),
                  class: "survey-input",
                  required: question.required? %>
            <% end %>
            </div>
          <% end %>
          
          <% if existing_answer && !question.is_matrix? && !question.is_matrix_row? %>
            <div class="survey-current-answer">
              <strong><%= t('survey_engine.surveys.answer.current_answer') %></strong> <%= existing_answer.display_value %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="survey-completion-panel">
      <h3><%= t('survey_engine.surveys.answer.ready_to_submit') %></h3>
      <p><%= t('survey_engine.surveys.answer.submit_message') %></p>
      
      <%= submit_tag t('survey_engine.surveys.answer.complete_survey'), 
          class: "survey-btn survey-btn-submit",
          name: "complete_survey" %>
    </div>
  <% end %>

  <%# Make sure to include survey_engine/application.js in your asset pipeline %>
  <%# Add this to your layout: <%= javascript_include_tag "survey_engine/application" %> %>
  <%= initialize_conditional_flow(@survey, @questions) %>

  <script>
    // Initialize matrix questions after page load
    document.addEventListener('DOMContentLoaded', function() {
      if (typeof SurveyEngine !== 'undefined' && SurveyEngine.Matrix) {
        SurveyEngine.Matrix.initializeMatrixQuestions();
      }
    });
  </script>
</div>