<div class="survey-container">
  <nav class="survey-breadcrumb">
    <%= link_to t('survey_engine.surveys.show.back_to_surveys'), surveys_path %>
  </nav>

  <header class="survey-header">
    <h1><%= @survey.title %></h1>
    <p><%= @survey.description %></p>
  </header>

  <div class="survey-details">
    <span><strong><%= t('survey_engine.surveys.show.questions') %></strong> <%= @survey.questions.count %></span>
    <span><strong><%= t('survey_engine.surveys.show.participants') %></strong> <%= @survey.participants.count %></span>
    <span><strong><%= t('survey_engine.surveys.show.status') %></strong> <span class="survey-status"><%= t("survey_engine.statuses.#{@survey.status}") %></span></span>
  </div>

  <% unless @survey.can_receive_responses? %>
    <div class="survey-alert survey-alert-warning">
      <strong>Notice:</strong> <%= t('survey_engine.surveys.show.survey_not_available') %>
    </div>
  <% end %>

  <% if @participant&.completed? %>
    <div class="survey-alert survey-alert-success">
      <strong>Already Completed!</strong> You have already completed this survey.
      <%= link_to "View Results", completed_survey_path(@survey, email: @email), 
          class: "survey-btn survey-btn-success" %>
    </div>
  <% elsif @survey.can_receive_responses? %>
    <div class="survey-start-panel">
      <h3><%= t('survey_engine.surveys.show.start_survey') %></h3>
      
      <%= link_to t('survey_engine.surveys.show.start_survey'), 
          answer_survey_path(@survey), 
          class: "survey-btn survey-btn-success survey-btn-large" %>
    </div>
  <% end %>

  <section class="se-preview-section">
    <h3>Survey Preview</h3>
    <p class="se-helper-text">This is what participants will see:</p>
    
    <div class="se-preview-container">
      <% @questions.each_with_index do |question, index| %>
        <article class="se-question-preview">
          <h4 class="se-question-title">
            <%= index + 1 %>. <%= question.title %>
            <% if question.required? %>
              <span class="se-required">*</span>
            <% end %>
          </h4>
          
          <% if question.description.present? %>
            <p class="se-question-description"><%= question.description %></p>
          <% end %>
          
          <div class="se-question-meta">
            <strong>Type:</strong> <%= question.question_type.description %>
            
            <% case question.question_type.name %>
            <% when 'text' %>
              <br><em>Participants will enter free text</em>
            <% when 'scale' %>
              <br><em>Scale from <%= question.scale_min %> (<%= question.scale_min_label %>) to <%= question.scale_max %> (<%= question.scale_max_label %>)</em>
            <% when 'single_choice', 'multiple_choice' %>
              <br><em>Options:</em>
              <ul class="se-options-preview">
                <% question.options.ordered.each do |option| %>
                  <li>
                    <%= option.option_text %>
                    <% if option.is_other? %>
                      <em class="se-other-option">(allows custom text)</em>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </section>
</div>