<div class="survey-container">
  <nav class="survey-breadcrumb">
    <%= link_to "â† Back to Surveys", surveys_path %>
  </nav>

  <header class="survey-header">
    <h1><%= @survey.title %></h1>
    <p><%= @survey.description %></p>
  </header>

  <div class="survey-details">
    <strong>Survey Details:</strong>
    <%= @survey.questions_count %> questions | 
    <%= @survey.participants_count %> participants |
    Status: <span class="survey-status"><%= @survey.status.capitalize %></span>
  </div>

  <% unless @survey.can_receive_responses? %>
    <div class="survey-alert survey-alert-warning">
      <strong>Notice:</strong> This survey is not currently accepting responses.
    </div>
  <% end %>

  <% if @participant&.completed? %>
    <div class="survey-alert survey-alert-success">
      <strong>Already Completed!</strong> You have already completed this survey.
      <%= link_to "View Results", completed_survey_path(@survey, email: @email), 
          class: "survey-btn survey-btn-success" %>
    </div>
  <% elsif @survey.can_receive_responses? %>
    <div class="survey-start-panel">
      <h3>Start Survey</h3>
      <p>Click the button below to begin the survey:</p>
      
      <%= link_to "Start Survey", answer_survey_path(@survey), 
          class: "survey-btn survey-btn-success survey-btn-large" %>
    </div>
  <% end %>

  <section class="survey-preview">
    <h3>Survey Preview</h3>
    <p class="survey-helper-text">This is what participants will see:</p>
    
    <div class="survey-preview-container">
      <% @questions.each_with_index do |question, index| %>
        <article class="survey-preview-question">
          <h4>
            <%= index + 1 %>. <%= question.title %>
            <% if question.required? %>
              <span class="survey-required">*</span>
            <% end %>
          </h4>
          
          <% if question.description.present? %>
            <p class="survey-question-description"><%= question.description %></p>
          <% end %>
          
          <div class="survey-question-meta">
            <strong>Type:</strong> <%= question.question_type.name.humanize %>
            
            <% case question.question_type.name %>
            <% when 'text' %>
              <br><em>Participants will enter free text</em>
            <% when 'scale' %>
              <br><em>Scale from <%= question.scale_min %> to <%= question.scale_max %></em>
            <% when 'single_choice', 'multiple_choice' %>
              <br><em>Options:</em>
              <ul>
                <% question.options.ordered.each do |option| %>
                  <li>
                    <%= option.option_text %>
                    <% if option.is_other? %>
                      <em>(allows custom text)</em>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </section>
</div>